.wrap .center {
    width: 1230px;
    margin: 20px auto;
  }
  .wrap .center .Breadcrumb span {
    font-size: 14px;
    color: #999999;
  }
  .wrap .center .Breadcrumb span:hover {
    color: #333333;
    cursor: pointer;
  }
  .wrap .center .content .boxCont {
    margin: 46px 0;
  }
  .wrap .center .content .boxCont .title {
    font-size: 32px;
    font-weight: bold;
    color: #505050;
    text-align: center;
    padding-bottom: 13px;
  }
  .wrap .center .content .boxCont .box {
    display: flex;
    flex-wrap: wrap;
  }
  .wrap .center .content .boxCont .box li {
    width: 25%;
    height: 230px;
    background: #808080;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    box-sizing: border-box;
  }
  .wrap .center .content .boxCont .box li:nth-child(2n) {
    background: #bbbbbb;
  }
  .wrap .center .content .boxCont .label_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap .center .content .boxCont .label_box .label {
    width: 18.8%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .wrap .center .content .boxCont .label_box .label .img {
    width: 22px;
    height: 40px;
    border-right: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .center .content .boxCont .label_box .label .img img {
    width: 22px;
    height: 22px;
  }
  .wrap .center .content .boxCont .label_box .label .text {
    flex: 1;
    padding: 0 15px;
    font-size: 14px;
    color: #333333;
  }
  .wrap .center .content .boxCont .label_box .label:hover {
    cursor: pointer;
    border: 1px solid #614130;
  }
  .wrap .center .content .flexBox {
    display: flex;
    flex-wrap: nowrap;
  }
  .wrap .center .content .flexBox .item {
    width: 14%;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-right: 8px;
    box-shadow: #dedede solid 1px;
    padding: 20px;
  }
  .wrap .center .content .flexBox .item .img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/s5a193a59b8256.png') center no-repeat;
  }
  .wrap .center .content .flexBox .item .text {
    text-align: center;
  }
  