.wrap{
    background: url('../images/repeat.png') center repeat;
    .center{
        width: 1230px;
        margin: 20px auto;
        .Breadcrumb{
            span{
                font-size: 14px;
                color: #333333;
            }
            .black{
                color: #704c2f;
                cursor: pointer;
            }
        }
        .container{
            .row_title{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px 0;
                .imgs{
                    width: 24px;
                    height: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                    }
                }
                .name{
                    font-size: 32px;
                    font-weight: bold;
                    color: #575757;
                    padding: 0 40px;
                    cursor: pointer;
                    font-family: 'St';
                }
            }
            .tabs{
                display: flex;
                .tab{
                    display: flex;
                    align-items: center;
                    margin-right: 30px;
                    .imgs{
                        width: 10px;
                        height: 46px;
                        img{
                            width: 100%;
                            height: 100%;
                            vertical-align: middle;
                        }
                    }
                    .l{
                        background: url('../images/l-1.png') no-repeat;
                    }
                    .r{
                        background: url('../images/r-1.png') no-repeat;
                    }
                    .l.active{
                        background: url('../images/backl.png') no-repeat;
                    }
                    .r.active{
                        background: url('../images/backr.png') no-repeat;
                    }
                    .text{
                        width: 265px;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        // padding: 0 55px;
                        color: #333333;
                        background: #f1eee9;
                        cursor: pointer;
                        border-top: 1px solid #c9c0ba;
                        border-bottom: 1px solid #c9c0ba;
                    }
                    .text.active{
                        color: #fff;
                        border: none;
                        background: #004438;
                    }
                }
            }
        }
    }
}