.wrap{
  width: 100%;
  background: url('../images/bg.png') no-repeat;
  background-position: center;
  background-attachment: fixed;
}
  .wrap .center {
    width: 1230px;
    margin: 30px auto;
    padding-bottom: 50px;
  }
  .wrap .center .Breadcrumb span {
    font-size: 14px;
    color: #333333;
  }
  .wrap .center .Breadcrumb .black {
  }

  .wrap .center .Breadcrumb .black:hover{
    cursor: pointer;
    color: #704c2f;
  }
  .wrap .center .container .row_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .wrap .center .container .row_title .imgs {
    width: 24px;
    height: 40px;
  }
  .wrap .center .container .row_title .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .container .row_title .name {
    font-size: 32px;
    font-weight: bold;
    color: #575757;
    padding: 0 40px;
    cursor: pointer;
    font-family: 'St';
  }
  .wrap .center .container .tabs {
    display: flex;
  }
  .wrap .center .container .tabs .tab {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .wrap .center .container .tabs .tab .imgs {
    width: 10px;
    height: 46px;
  }
  .wrap .center .container .tabs .tab .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .container .tabs .tab .l {
    background: url('../images/l-1.png') no-repeat;
  }
  .wrap .center .container .tabs .tab .r {
    background: url('../images/r-1.png') no-repeat;
  }
  .wrap .center .container .tabs .tab .l.active {
    background: url('../images/backl.png') no-repeat;
  }
  .wrap .center .container .tabs .tab .r.active {
    background: url('../images/backr.png') no-repeat;
  }
  .wrap .center .container .tabs .tab .text {
    width: 285px;
    height: 47px;
    line-height: 47px;
    background: url('../images/tab_child.png') no-repeat;
    text-align: center;
    color: #086252;
    cursor: pointer;
  }
  .wrap .center .container .tabs .tab .text.active {
    color: #fff;
    background: url('../images/tab_child_active.png') no-repeat;
  }
  .wrap .center .container .content_wrap {
    display: none;
  }
  .wrap .center .container .content_wrap .content {
    padding: 38px 0;
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .container .content_wrap .content .lCont {
    width: 860px;
  }
  .wrap .center .container .content_wrap .content .lCont .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    /* padding: 24px 0; */
    box-sizing: border-box;
    cursor: pointer;
  }
  .wrap .center .container .content_wrap .content .lCont .box.active{
    background: #fff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: relative;
  }
  
  .wrap .center .container .content_wrap .content .lCont .box.active::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 89px;
    height: 200px;
    background: url('../images/leftBck.png') no-repeat;
    content: '';
    display: block;
  }
  .wrap .center .container .content_wrap .content .lCont .box.active::after{
    position: absolute;
    right: 0;
    top: 0;
    width: 89px;
    height: 200px;
    background: url('../images/rightBack.png') no-repeat;
    content: '';
    display: block;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap {
    
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .title {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .title.active{
    color: #815b3f;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .desc {
    font-size: 14px;
    color: #333333;
    margin: 25px 0;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .time {
    font-size: 14px;
    color: #666666;
  }
  .wrap .center .container .content_wrap .content .rCont {
    width: 344px;
  }
  .wrap .center .container .content_wrap .content .rCont .backImg {
    width: 344px;
    height: 190px;
    line-height: 190px;
    font-size: 36px;
    text-align: center;
    color: #815b3f;
    background: url('../images/news_top.png') no-repeat;
  }
  .wrap .center .container .content_wrap .content .rCont .recommend {
    padding: 18px 15px;
    font-size: 16px;
    border: 1px solid #ededed;
    border-top: none;
    color: #333333;
  }
  .wrap .center .container .content_wrap .content .rCont .recommend:hover{
    cursor: pointer;
    color: #815b3f;
  }
  .wrap .center .container .content_wrap .box::after {
    content: '';
    width: 33.3%;
  }
  .wrap .center .container .content_wrap .box_wrap {
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
  }
  .wrap .center .container .content_wrap .box_wrap .box {
    width: 33.3%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 24px;
  }
  .wrap .center .container .content_wrap .box_wrap .box .imgs {
    height: 202px;
    background: #ccc;
  }
  .wrap .center .container .content_wrap .box_wrap .box .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
  }
  .wrap .center .container .content_wrap .box_wrap .box .desc {
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
  }
  .wrap .center .container .content_wrap .box_wrap .box .time {
    font-size: 12px;
    color: #505050;
    margin-top: 15px;
  }
  ._page_container{
    justify-content: flex-start!important;
    margin-left: 30px;
  }